/* font-family: 'Ubuntu', sans-serif; */
/* font-family: 'Overpass', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
}


/* NAVBAR */

.navbar {
    background: linear-gradient(to left, hsl(353, 100%, 62%), hsl(13, 100%, 72%));
}

.navbar a {
    color: #FFF;
}

.navbar .logo {
    display: flex;
    padding-right: 50px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.navbar .main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar .main-menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.main-menu ul li {
    margin-left: 10px;
}

.main-menu a button {
    border: none;
    padding: 15px 35px;
    border-radius: 50px;
    color: hsl(353, 100%, 62%);
    font-weight: bold;
    font-size: 15px;
}

/* HERO SECTION */

.hero {
    background: linear-gradient(to left, hsl(353, 100%, 62%), hsl(13, 100%, 72%));
    border-bottom-left-radius: 70px;
}


.hero .container {
    height: 380px;
    text-align: center;
    margin: auto;
    padding-top: 60px;
    margin-bottom: 80px;
}

.hero-content {
    color: white;
}

.hero-content h1 {
    font-family: 'Overpass', sans-serif;
    font-size: 40px;
}

.hero-text {
    margin-bottom: 25px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-buttons :nth-child(1) {
    border: none;
    padding: 15px 35px;
    border-radius: 50px;
    color: hsl(353, 100%, 62%);
    font-weight: bold;
    font-size: 15px;
}

.hero-buttons :nth-child(2) {
    border: 1px solid #FFF;
    padding: 15px 35px;
    border-radius: 50px;
    color: #FFF;
    background-color: transparent;
    font-weight: bold;
    font-size: 15px;
}



/* HERO SECOND SECTION */

.hero-second .container {
    height: 570px;
    margin: auto;
}

.hero-second-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: hsl(207, 13%, 34%);
}

.hero-second h1 {
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Overpass', sans-serif;
    font-size: 30px;
    color: hsl(207, 13%, 34%);
}

.hero-second-content {
    display: flex;
    gap: 30px;
    flex-direction: column;
    /* border: 1px solid yellow; */
    width: 50%;
    margin-right: auto;
}

.hero-second-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 1.7;
}


/* PHONE SECTION */


.phone {
    height: 300px;
    background: url(images/bg-pattern-circles.svg), linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 70px;
    margin-bottom: 100px;
}

.phone .container .phone-content {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.phone-content h1 {
    font-family: 'Overpass', sans-serif;
    font-size: 30px;
}


/* LAPTOP SECTION */

.laptop .container {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.laptop-content {
    display: flex;
    gap: 30px;
    flex-direction: column;
    /* border: 1px solid yellow; */
    width: 50%;
    margin-right: auto;
    color: hsl(207, 13%, 34%);
}

.laptop-text h2 {
    font-family: 'Overpass', sans-serif;
}

.laptop-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 1.7;
}


/* FOOTER SECTION */

.footer {
    background-color: hsl(240, 10%, 16%);
    border-top-right-radius: 70px;
    height: 300px;
}


.footer .container .footer-main {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.footer-main ul li {
    list-style: none;
    line-height: 2;
}

.footer-main ul li a {
    color: hsl(240, 2%, 79%);
    text-decoration: none;
}



/* CLASSES UTILITAIRES */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}