/* font-family: 'Ubuntu', sans-serif; */
/* font-family: 'Overpass', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
}


/* NAVBAR */

.navbar {
    background: linear-gradient(to left, hsl(353, 100%, 62%), hsl(13, 100%, 72%));
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.navbar .logo {}

.navbar .main-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar .main-menu ul {
    list-style: none;
    display: flex;
}

.main-menu ul li {
    margin-left: 10px;
}

/* HERO SECTION */

.hero {
    background: linear-gradient(to left, hsl(353, 100%, 62%), hsl(13, 100%, 72%));
}


.hero .container {
    height: 380px;
    text-align: center;
    margin: auto;
    padding-top: 60px;
}

.hero-content {
    color: white;
}

.hero-content h1 {
    font-family: 'Overpass', sans-serif;
    font-size: 40px;
}

.hero-text {
    margin-bottom: 25px;
}

.hero-buttons button {
    border: none;
    padding: 10px 40px;
    border-radius: 50px;
}


/* HERO SECOND SECTION */





/* CLASSES UTILITAIRES */

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}